:root {
  --trueWhite: #f9f9f9;
  --trueBlack: #010606;
  --cruxBlue: #1ab4f7;
  --linkBlue: #00ccf4;
  --darkBlue: #101522;
  --transition: all 0.3s ease-in-out;

  --defaultFont: "Iceberg";
  background: #010606;
  --dropShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@font-face {
  font-family: "Iceberg";
  src: url("./Iceberg-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Iceberg";
}

p,
button,
h2,
h3,
h4 {
  font-family: "Montserrat";
}

.backdrop {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  justify-content: center;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 450px);
  z-index: 3;
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--trueBlack);
  color: var(--trueWhite);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  background: var(--trueBlack);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--trueBlack);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cruxBlue);
  border-radius: 10px;
}

.price-card-container > div:nth-of-type(1),
.price-card-container > div:nth-of-type(2),
.price-card-container > div:nth-of-type(3),
.price-card-container > div:nth-of-type(4),
.price-card-container > div:nth-of-type(5),
.price-card-container > div:nth-of-type(6),
.price-card-container:nth-of-type(1) > div:nth-of-type(21),
.price-card-container:nth-of-type(1) > div:nth-of-type(22),
.price-card-container:nth-of-type(1) > div:nth-of-type(23) {
  font-weight: 1000;
}

.price-card-container:nth-of-type(1) > div:nth-of-type(12),
.price-card-container:nth-of-type(1) > div:nth-of-type(13),
.price-card-container:nth-of-type(2) > div:nth-of-type(21),
.price-card-container:nth-of-type(2) > div:nth-of-type(22) {
  font-style: italic;
}

/* .borthwick {
  grid-column: 1 / 3;
  grid-row: 1;
}
.jennie {
  grid-column: 3 / 5;
  grid-row: 1;
}
.fbc {
  grid-column: 1;
  grid-row: 2;
}
.meadows {
  grid-column: 2;
  grid-row: 2;
}
.cruxFastFood {
  grid-column: 1 / 2;
  grid-row: 3;
}

.cruxBbq {
  grid-column: 2 / 3;
  grid-row: 3;
} */
